* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERICS */

body {
    font-family: 'Lato';
}

/* generics flex */

.d-flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.nowrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

/* text decorations, sizes and align */

.v-align-center {
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.txt-deco-none {
    text-decoration: none;
}

.font-size-xxl {
    font-size: 50px;
}

.font-size-xl {
    font-size: 38px;
}

.font-size-l {
    font-size: 25px;
}

.font-size-m {
    font-size: 22px;
}

.font-size-xs {
    font-size: 12px;
}

.txt-white {
    color: var(--color1);
}

.txt-black {
    color: var(--color2);
}

.txt-blue-discord {
    color: var(--color6);
}

/* backgrounds and colors */

.bg-1 {
    background-color: var(--color4);
}

.bg-2 {
    background-color: var(--color3);
}

.bg-3 {
    background-color: var(--color5);
}

.bg-4 {
    background-color: var(--color1);
}

.bg-5 {
    background-color: var(--color6);
}

.bg-image1 {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* margin e padding */

/* Margin */

.mx-autocenter {
    margin: var(--mx-center);
}

.my-autocenter {
    margin: var(--my-center);
}

.margin-b-min {
    margin: var(--space-b-1px);
}

.margin-r-s{
    margin-right: var(--space-s);
}

.mx-s {
    margin: 0 var(--space-s);
}

.my-m {
    margin: var(--space-m) 0;
}

.m-xxs {
    margin: var(--space-xs);
}

/* Padding */

.padding-center {
    padding: auto;
}

.padding-xs {
    padding: var(--space-xs);
}

.padding-tp-xs{
    padding: var(--space-tb-xs);
}

.padding-tp-s {
    padding: var(--space-tb-s);
}

.padding-tp-xxl {
    padding: var(--space-tb-xxl);
}

.padding-tp-3xl {
    padding: var(--space-tb-3xl);
}

/* borders */

.border-dash {
    border: 1px dashed black;
}

/* containers and sizes */

.container {
    width: var(--width-maincontainer-1080p);
}

.container-xxl {
    width: 100%;
}

.container-l {
    width: 70%;
}

.container-m {
    width: 65%;
}

.container-s {
    width: 35%;
}

.container-xs {
    width: 30%;
}

.container-xxs {
    width: 25%;
}

.h-medium {
    height: 500px;
}

.h-large {
    height: 550px;
}

/* Button styles */

.btn-style {
    padding: 12px 18px;
    border: none;
    border-radius: 30px;
    transition: 0.5s;
}

.btn-style.bg-2:hover {
    background-color: var(--color5);
    color: var(--color1);
}

.btn-style.bg-3:hover {
    background-color: var(--color3);
    color: var(--color2);
}

.btn-style.bg-5:hover {
    background-color: var(--color4);
}

/* Common */

/* NAVBAR */

header .logo {
    width: 20%;
}

.nav {
    width: 60%;
}

.login {
    width: 20%;
}

/* MAIN CONTENT */

/* JUMBOTRON */

.sub-container {
    width: 850px;
}

.sub-container h1 {
    padding: 30px 10px 20px;
    margin: 25px 0px 10px;
}

.sub-container p {
    padding: 10px 15px 20px;
    margin: 0px 0px 10px;
}

.sub-container .btn-section {
    padding: 10px;
    margin-bottom: 250px;
}

/* section4 */

.txt-container:first-child {
    margin: 10px 60px 0;
}

.txt-container:last-child {
    margin-bottom: 50px;
}



/* FOOTER */

footer h3 {
    margin-bottom: 12px;
}

#top-footer img {
    width: 8%;
    margin-right: 3px;
}

#social-icons ul{
    list-style-type: none;
    margin-top: 12px;
}

#social-icons li {
    display: inline-block;
    margin-right: 15px;
    color: white;
}

footer .padding-xs {
    padding: 3px 5px;
}

.btn>button {
    transition: 0.5s;
}

.btn>button:hover {
    background-color: brown;
    color: white;
    border: 1px solid black;
}

.container-xxs ul {
    list-style-type: none;
}

.container-xxs li {
    margin: 15px 0;
}

#top-footer .container {
    margin-top: 50px;
    border-bottom: 1px solid var(--color4);
}