* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERICS */

/* generics flex */

.d-flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.nowrap {
    flex-wrap: nowrap;
}

/* text align */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* backgrounds and colors */

.bg-1 {
    background-color: var(--color4);
}

.bg-2 {
    background-color: var(--color3);
}

.txt-white {
    color: var(--color1);
}

.txt-black {
    color: var(--color2);
}

/* margin e padding */

/* Margin */

.m-autocenter {
    margin: var(--mx-center);
}

.my-autocenter {
    margin: var(--my-center);
}

.margin-b-min {
    margin: var(--space-b-1px);
}

.mx-s {
    margin: 0 var(--space-s);
}

/* Padding */

.padding-xs {
    padding: var(--space-xs);
}

.padding-tp-xs{
    padding: var(--space-tb-xs);
}

.padding-tp-s {
    padding: var(--space-tb-s);
}

.padding-tp-xl {
    padding: var(--space-tb-xl);
}

.padding-tp-3xl {
    padding: var(--space-tb-3xl);
}

/* borders */

.border-dash {
    border: 1px dashed black;
}

/* containers and sizes */

.container {
    width: var(--width-maincontainer-1080p);
}

.container-xxl {
    width: 100%;
}

.container-l {
    width: 70%;
}

.container-m {
    width: 65%;
}

.container-s {
    width: 35%;
}

.container-xs {
    width: 30%;
}

.container-xxs {
    width: 25%;
}

.h-medium {
    height: 400px;
}

.h-large {
    height: 550px;
}

/* Button styles */

.btn-style {
    padding: 8px 12px;
    border: none;
    border-radius: 18px;
    transition: 0.5s;
}

/* Common */

.txt-deco-none {
    text-decoration: none;
}

.btn-style.bg-2.txt-black:hover {
    background-color: var(--color5);
    color: var(--color1);
}

/* NAVBAR */

header .logo {
    width: 20%;
}

.nav {
    width: 60%;
}

.login {
    width: 20%;
}



/* SPLASHSCREEN */

.sub-container {
    width: 800px;
}

/* MAIN CONTENT */

/* FOOTER */

footer .padding-xs {
    padding: 3px 5px;
}

.btn>button {
    transition: 0.5s;
}

.btn>button:hover {
    background-color: brown;
    color: white;
    border: 1px solid black;
}